<%
    if @item.id
      url = {action: :update, id: @item.id}
      method = :patch
    else
      url = {action: :create}
      method = :post
    end
%>

<%= form_for @item, url: url, method: method, :html => { :class => "form-horizontal item" } do |f| %>

  <% if @item.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2 pull-left' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :typ, :class => 'control-label col-lg-2 pull-left' %>
    <div class="col-lg-10">
      <%= f.select :typ, Item::TYP_SELECT, {}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:typ) %>
  </div>
  <div class="form-group">
    <%= f.label :presence, :class => 'control-label col-lg-2 pull-left' %>
    <div class="col-lg-10">
      <%= f.select :presence, Item::BOOLEAN_SELECT, {}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:presence) %>
  </div>
  <div class="form-group">
    <%= f.label :only_integer, :class => 'control-label col-lg-2 pull-left' %>
    <div class="col-lg-10">
      <%= f.select :only_integer, Item::BOOLEAN_SELECT, {}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:only_integer) %>
  </div>
  <div class="form-group">
    <%= f.label :format_with, :class => 'control-label col-lg-2 pull-left' %>
    <div class="col-lg-10">
      <%= f.text_field :format_with, :class => 'form-control' %>
    </div>
    <%=f.error_span(:format_with) %>
      「/」は省いて入力。「^」, 「$」はそれぞれ 「\A」, 「\z」
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                items_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
